* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10%;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20%;
}

.input-container input {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  width: 500px;
}

.input-container span {
  font-size: 2em;
}

form #calculate-button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 50px;
  margin-top: 100px;
}

.result-container {
  margin-top: 70px;
  font-size: 1.5rem;
}
