* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10%;
  font-family: "Open Sans", sans-serif;
}

.unit-selector-container {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.5em;
}

.unit-selector-container label {
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.unit-selector-container label:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  right: 25%;
  bottom: -15%;
  background-color: #0275d8;
}

.unit-selector-container label:hover {
  color: #0275d8;
  transform: scale(1.1);
}
.unit-selector-container label:hover::after {
  width: 50px;
}

/* .unit-selector-container label {
  text-decoration: underline;
  transform: scale(1.5);
} */

.input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20%;
}

.input-container input {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  width: 500px;
}

.input-container span {
  font-size: 2em;
}

form #calculate-button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 50px;
  margin-top: 100px;
  background-color: #0275d8;
}

form #calculate-button:hover {
  color: white;
}

.result-container {
  margin-top: 70px;
  font-size: 1.5rem;
}
